.home-container {
  font-family: Arial, sans-serif;
}

.carousel {
  position: relative;
  width: 90vw;
  height: 70vh;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.carousel img {
  width: 90vw;
  height: 70vh;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  display: flow-root;
}

.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1.5rem;
  max-width: 70%;
  user-select: none;
}
